services:
  weather-app:
    image: dbouraoui/weather-app:latest
    platform: "linux/amd64"
    networks:
      - traefik_webgateway
    ports:
      - "3000:3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.weather.rule=Host(`signacore.fr`)"
      - "traefik.http.routers.weather.entrypoints=websecure"
      - "traefik.http.routers.weather.tls.certresolver=myresolver"
      - "traefik.http.services.weather.loadbalancer.server.port=3000"

networks:
  traefik_webgateway:
    external: true
